:root {
  --blue-1: #5caedc;
  --blue-2: #243058;
  --grey: #3b3b3c;
  --accent: #d0cce3;
}
body, html {
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden;
}

/* Color modifiers */
.bg-white {
  background-color: #ffffff;
}
.bg-blue {
  background-color: var(--blue-1);
}
.bg-blue-darker {
  background-color: var(--blue-2);
}
.bg-grey {
  background-color: var(--grey);
}

/* Text modifiers */
.txt-blue {
  color: var(--blue-1);
}
.txt-blue-dark {
  color: var(--blue-2);
}
.txt-grey {
  color: var(--grey);
}

.txt-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  font-weight: 900;
}

/* Spacer elements */
.spacer-medium {
  height: 50px;
}
.spacer-small {
  height: 25px;
}
.spacer-tiny {
  height:2px;
}

/* Project infobox */
.infobox {
  transition: all 0.2s;
}
.infobox:hover{
  transform: scale(1.05);
  z-index: 1;
}

/* Video embeds */
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* social media icons */
.socialicons {
  height: 20px;
  max-width: 28px;
}
.socialicons-large {
  height: 50px;
  max-width: 50px;
}