body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../images/logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 3vw auto 44vw 350px 3vw;
  grid-template-rows: 6vh 94vh;
  background-image: url('../images/logo.png');
}

label > h6 {
  margin-bottom: 0 !important;
}

#nav {
  background-color: #2F89E2;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: 1000;
}

.navbar-brand {
  color: white !important;
}

#navbar-options > img:hover,
#navbar-controls > img:hover,
#navbar-notes > img:hover {
  transition-duration: 0.1s;
  transform: scale(1.25);
}

#navbar-options-active > img,
#navbar-controls-active > img,
#navbar-notes-active > img {
  transition-duration: 0.1s;
  transform: scale(1.2) rotate(10deg);
}

.nav-controls {
  display: relative;
  float: left;
}

select.form-control {
  box-shadow: 1px 2px 3px rgba(59,59,60, 0.5);
}

button.raise-hand {
  background-color: white;
  position: absolute;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  text-align: center;
  left: calc(50vw - 75px);
  box-shadow: 1px 2px 3px rgba(59,59,60, 0.5);
  bottom: 13px;
  z-index: 2000;
}

button.raise-hand:hover {
  transition-duration: 0.1s;
  transform: scale(1.05);
}

button.raise-hand:focus:hover {
  transition-duration: 0.1s;
  transform: scale(1.05);
  color: white;
  background-color: #243058;
}

button.raise-hand:focus {
  transition-duration: 0.1s;
  color: white;
  background-color: #243058;
}

button.close {
  position: absolute;
  fill: #3b3b3c;
  top: calc((100vh - 6vh) / 2);
  width: 50px;
  height: 50px;
  right: calc(350px + 3vw + 10px);
  padding: 0;
  margin: 0;
  border: 0;
  opacity: 1.0;
  cursor: pointer;
  background-color: transparent;
}

button.close img {
  width: 50px;
  height: 50px;
}

button.open {
  position: absolute;
  top: calc((100vh - 6vh) / 2);
  width: 50px;
  height: 50px;
  right: 10px;
  padding: 0;
  margin: 0;
  border: 0;
  z-index: 1000;
  cursor: pointer;
  background-color: transparent;
}

button.open img {
  width: 50px;
  height: 50px;
}

#notes-button, #options-button {
  color: black;
  background-color: white;
  border: 1px solid #ced4da;
  box-shadow: 1px 2px 3px rgba(59,59,60, 0.5);
}

#notes-button:hover, #options-button:hover {
  transition-duration: 0.5s;
  transform: scale(1.02);
}

.side-panel-options {
  overflow: scroll;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  border-top: 1px solid black;
  background-color: #f2f8ff;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  z-index: 1000;
}

.side-panel-controls {
  overflow: scroll;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  border-top: 1px solid black;
  background-color: #f2f8ff;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  z-index: 1000;
}

.side-panel-notes {
  overflow: scroll;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  border-top: 1px solid black;
  background-color: #f2f8ff;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  z-index: 1000;
}

.side-panel-notes > form > .form-group {
  grid-column-start: 1;
  grid-column-end: 2;
}

#notes-form {
  box-shadow: 1px 2px 3px rgba(59,59,60, 0.5);
}

.notes-section {
  color: black;
  margin: 10px;
  background-color: white;
  box-shadow: 1px 2px 3px rgba(59,59,60, 0.5);
  padding: 10px;
}

.control {
  background: none;
}
.control:hover {
  transition-duration: 0.1s;
  transform: scale(1.1) rotate(10deg)
}

.control-section {
  color: black;
  margin: 10px;
  background-color: white;
  box-shadow: 1px 2px 3px rgba(59,59,60, 0.5);
  padding: 10px;
}

.control, .control img {
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0 0 7px 0;
  border: 0;
}

.form-group {
  margin: 10px;
}

.side-panel-controls > h4,
.side-panel-notes > h4 {
  margin: 10px 10px 25px 10px !important;
  border-bottom: 1px solid #243058
}

.side-panel-options > form > div > h4 {
  margin-bottom: 25px !important;
  border-bottom: 1px solid #243058
}

select.form-control {
  margin-bottom: 15px;
}

iframe {
  display: none;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 100%;
  width: 100%;
}

ul {
  display: grid;
  grid-template-columns: 10px 100px 2.5px 100px 2.5px 100px 2.5px 100px 2.5px 100px 10px;
  grid-template-rows: 10px 100px 2.5px 100px 2.5px 100px 10px;
  margin: 0;
}

#interface #control {
  width: 100px;
  height: 100px;
  padding: 0;
}

#control > img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 678px) {
  body {
    display: grid;
    grid-template-columns: 5vw auto auto 40vw 5vw;
    grid-template-rows: 10vh 90vh;
  }

  button.raise-hand {
    left: calc(50vw - 55px);
    font-size: smaller;
    width: 110px;
  }
  
  button.close {
    right: calc(40vw + 5vw + 10px)
  }
  button.open {
    top: calc((100vh - 10vh) / 2);
  }
  #interface {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  ul {
    display: grid;
    grid-template-columns: 3vw 16vw 1vw 16vw 1vw 16vw 1vw 16vw 1vw 16vw 3vw;
    grid-template-rows: 0.5vw 16vw 1vw 16vw 1vw 16vw 0.5vw;
    margin: 0;
  }
  #interface #control {
    width: 16vw;
    height: 16vw;
    padding: 0;
  }
  
  #control > img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (orientation: landscape) {
  @media only screen and (max-height: 678px) {
    body {
      display: grid;
      grid-template-columns: 5vh 25vw auto 40vw 5vh;
      grid-template-rows: 15vh 85vh;
    }
    #nav {
      display: block;
    }
    button.raise-hand {
      left: calc(50vw - 55px);
      font-size: smaller;
      width: 110px;
    }
    button.close {
      right: calc(40vw + 20px)
    }
    button.open {
      top: calc((100vh - 15vh) / 2);
    }
    .control, .control img {
      width: 35px;
      height: 35px;
      padding: 0;
      margin: 0 0 7px 0;
      border: 0;
    }
    #interface {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
    }
    ul {
      display: grid;
      grid-template-columns: 3vh auto 1vh auto 1vh auto 1vh auto 1vh auto 3vh;
      grid-template-rows: 0.5vh auto 1vh auto 1vh auto 0.5vh;
      margin: 0;
    }
    #interface #control {
      text-align: center;
      width: 100%;
      height: 100%;
      padding: 0;
    }
    
    #control > img {
      width: 100%;
      height: 100%;
    }
  }
}