body {
  background: white !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loading { 
  width: 100%;
  height: 600px;
  align-self: center;
  border: 1px solid black;
  background-color:white;
}

.loading > h2 {
  color: white;
  background-color: grey;
  position: absolute;
}

.navbar ul  {
  margin-bottom: 0px;
}

.interface {
  position: relative;
  top: 10px;
  width: 435px;
  align-self: center;
  margin: 0 auto;
}

.interface > .emotes, .interface > .controls, .interface > .toggles {
  position: relative;
  width: 90px;
  display: inline-table;
  margin: 0%
}

.interface > .emotes {
  position: relative;
  width: 242px;
  display: inline-table;
  margin: 0%
}

.interface > .emotes > ul, .interface > .controls > ul, .interface > .toggles > ul {
  position: relative;
  align-self: center;
  margin: 10px;
}

.interface > .emotes > ul > li,
.interface > .controls > ul > li,
.interface > .toggles > ul > li {
  margin: 5px;
  font-size: smaller;
}

.interface ul li img {
  position: static;
  width: 40px;
  height: 40px;
}
.interface ul li button { 
  width: 60px;
  height: 60px;
}