body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ededed;
}

 .navbar ul  {
  margin-bottom: 0px;
}

/* .navbar ul li a {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-top: 9px;
} */

.interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.interface ul li img {
  position: static;
  width: 65px;
  height: 65px;
}
.interface ul li button { 
  width: 100px;
  height: 100px;
  font-size: small;
}