body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ededed;
}

.navbar ul  {
  margin-bottom: 0px;
}

.interface > .emotes, .interface > .controls, .interface > .toggles {
  width: calc(50% - 10%);
  display: inline-block;
  align-items: center;
  flex-direction: column;
  margin: 0%
}

.interface > .emotes > ul, .interface > .controls > ul, .interface > .toggles > ul {
  align-self: center;
  margin: 10px;
}

.interface > .emotes > ul > li, .interface > .controls > ul > li, .interface > .toggles > ul > li {
  margin: 5px;
  display: flex;
  align-self: center;
  /* flex-direction: column; */
}

.interface ul li img {
  position: static;
  width: 65px;
  height: 65px;
}
.interface ul li button { 
  width: 100px;
  height: 100px;
  font-size: small;
}